<%= form_for @signature_request do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email%>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :phone_number%>
    <%= f.phone_field :phone_number %>
  </div>

  <div>
    <%= f.submit 'Send Signature Request' %>
  </div>
<% end %>
